[submodule "doc"]
	path = doc
	url = https://github.com/Genesis-Embodied-AI/genesis-doc
[submodule "genesis/ext/LuisaRender"]
	path = genesis/ext/LuisaRender
	url = https://github.com/Alif-01/LuisaRender
[submodule "genesis/ext/ParticleMesher"]
	path = genesis/ext/ParticleMesher
	url = https://github.com/ACMLCZH/ParticleMesher
[submodule "genesis/ext/madrona_mjx"]
	path = genesis/ext/madrona_mjx
	url = https://github.com/shacklettbp/madrona_mjx.git
[submodule "genesis/ext/madrona_gs"]
	path = genesis/ext/madrona_gs
	url = git@github.com:YilingQiao/madrona_gs.git
	branch = hongyi/250429_genesis
